.App {
  font-family: Roboto;
  /* text-align: center; */
}

body{
  margin: 24px;
}

.user-name{
  font-size: 32px;
}

.user-pic{
  height: 12rem;
  width:12rem;
  
  border-radius: 50%;
}

.movie_poster{
  height: 500px;
  width: 300px;
  object-fit: cover;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie_container{
  margin :10px;
  width :300px;
}

.movies-list{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
  gap: 0.5rem;
  justify-items: center;
}

.counter-container{
  display: flex;
  gap:20px;
}

.counter-container > button  {
 font-size: 1.2rem;
}
